[submodule "modules/open-saber-client"]
	path = modules/open-saber-client
	url = https://github.com/project-sunbird/open-saber-client.git
	branch = release-1.9
[submodule "modules/sunbird-utils"]
	path = modules/sunbird-utils
	url = https://github.com/sudarshanswati/sunbird-utils.git
	branch = rel-1.14.0
